@layer components {
    .mainLayout-container {
        min-height: calc(100vh - 64px);
        @apply w-full flex;
    }
    .mainLayout-container main {
        @apply flex-1 pl-80;
    }

    .layout-sidebar {
        height: calc(100vh - 64px);
        @apply fixed flex flex-col gap-1 w-80 bg-gray-100 border-solid border-r border-r-gray-600/20 shadow-sm;
    }
    .layout-sidebar .link-container {
        @apply flex flex-col gap-1 p-2.5;
    }
    .layout-sidebar .layout-sidebar--item {
        @apply w-full py-1 px-3 flex justify-center items-center gap-2 text-base cursor-pointer font-semibold rounded-lg;
    }
    .layout-sidebar .layout-sidebar--item.storageType {
        @apply flex-col py-4 rounded-none;
    }
    .layout-sidebar .layout-sidebar--item.storageType div[aria-label='progressbar'] {
        @apply w-full;
    }
    .layout-sidebar .layout-sidebar--item svg {
        @apply w-6 h-6;
    }
    .layout-sidebar .layout-sidebar--item.active {
        @apply bg-gray-300;
    }
    .layout-sidebar .layout-sidebar--item:hover {
        @apply bg-gray-400/60;
    }


    .layout-sidebar .layout-sidebar--item.sidebar--btn {
        @apply max-w-max w-auto px-4 py-2 mx-auto bg-gray-200 border-solid border border-gray-400/90 transition-all ease-in-out duration-100;
    }
    
    .layout-sidebar .layout-sidebar--item.sidebar--btn:hover {
        @apply bg-blue-500 text-gray-100;
    }
    .layout-sidebar .layout-sidebar--item.sidebar--btn:hover svg {
        @apply fill-gray-100;
    }
    .layout-sidebar .layout-sidebar--spaceBar div {
        @apply bg-blue-500;
    }




    .userLayout-container {
        min-height: calc(100vh - 64px);
        @apply w-full flex;
    }
    .userLayout-container main {
        @apply flex-1;
    }





    .mainPublicLayout-container {
        min-height: calc(100vh - 64px);
    }

    .mainPublicFileLayout-container {
        min-height: calc(100vh - 64px);
        @apply bg-stone-800;
    }
    .mainPublicFileLayout-container .publicFileLayout-sidebar {
        
    }



    input.errored {
        @apply placeholder:text-red-600;
    }
}